div {
    color: blueviolet;
}
h2{
    border: 2px solid red;
}
.navbar {
    display: inline;
}

.navbar a {
    font-family: 'Roboto', sans-serif;
}




.title {


    background-color:red;
    padding: 20px;
    color:blue;
    font-size: 24px;

    

}
#first title{
    color: darkblue;
    border: 0svb;
    text-align: center;
    text-underline-position: above;
}
